
<div class="max-w-md mx-auto mt-8 flex justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <div class="flex items-center justify-center">
      <%= render inline: generate_qr(@qr_code_data) %>
    </div>
  </div>
</div>
