<div class="container">
  <h1>Memberships</h1>
  <div class="row">
    <% @memberships.each do |membership| %>
      <div class="col-6 col-md-4">
        <div class="card1">
          <%= image_tag membership.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= membership.name %></h5>
            <h5><%= humanized_money_with_symbol(membership.price) %></h5>
            <%= link_to "More details", membership_path(membership), class: "btn btn-secondary btn-secondary-font" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
