<% if current_user %>
  <% if current_user.credit %>
    <div class="bg-red-700 px-4 py-3 text-white">
      <p class="text-center text-sm font-medium">
        Your balance: <%= current_user.credit.balance %> Mejiro Coins
      </p>
    </div>
  <% end %>

  <div class="header-container">
    <header class="bg-white">
      <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
        <a class="block text-teal-600" href="<%= current_user.is_a?(Admin) ? admins_dashboard_index_path : home_path %>">
          <%= cl_image_tag("https://res.cloudinary.com/dh8uxggfc/image/upload/v1695016725/Mejiro/Logo_4_edn8nr.png", width: 50, height: 50) %>
        </a>

        <div class="flex flex-1 items-center justify-end md:justify-between">
          <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
              <!-- Add your navigation links here -->
            </ul>
          </nav>

          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <%= link_to destroy_user_session_path, method: :delete, class: "block rounded-md bg-red-700 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700" do %>
                Sign Out
              <% end %>
            </div>
          </div>

          <button class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden">
            <span class="sr-only">Toggle menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </header>
  </div>
<% end %>
