
<section class="mx-auto max-w-screen-2xl px-4 py-4 sm:px-6 lg:px-8">
  <div class="shadow-lg bg-white p-6 rounded-lg">
      <div class="flex flex-col rounded-lg border border-red-900 px-4 py-8 text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Mejiro Coin Balance</h2>
      <p class="mt-4 text-gray-500 sm:text-xl">
       For top-ups please contact receiption.
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg border border-red-900 px-4 py-8 text-center">
        <dd class="text-1xl font-bold text-black sm:col-span-2"><%= current_user.username %></dd>
          <dd class="text-2xl font-bold text-black md:text-2xl">Your balance is: <%= current_user.credit.balance %></dd>
        </div>
      </dl>
    </div>
</section>
