<h1 class="text-2xl py-5 pr-0 font-bold text-gray-900 sm:text-3xl mx-auto text-center">Scan the QR Code to Pay</h1>

<div class="flex h-screen w-screen flex-column items-center justify-center">
  <video id="camera1" class="flex w-[100svw] h-[100svw]"></video>
</div>
