<h1 class="text-2xl py-5 pr-0 font-bold text-gray-900 sm:text-3xl mx-auto text-center">Scan the QR Code to Pay</h1>

<video id="camera"></video>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let code = null;
    let qrScanner = null;
    let mediaStream = null;

    function startRearCamera() {
      if (qrScanner === null) {
        navigator.mediaDevices
          .getUserMedia({ video: { facingMode: "environment" }, audio: false}) // Request the rear camera and microphone
          .then((stream) => {
            mediaStream = stream;
            const videoElement = document.querySelector('#camera');
            videoElement.srcObject = stream;
            videoElement.play();

            qrScanner = new window.QrScanner(
              videoElement,
              (result) => {
                if (code) {
                  stopVideo();
                  return;
                }
                console.log('decoded qr code:', result);
                code = result.data;
                window.location.href = code;
              },
              {
                highlightScanRegion: true,
                highlightCodeOutline: true,
                returnDetailedScanResult: true,
              }
            );
            qrScanner.start();
          })
          .catch((error) => {
            console.error('Error accessing rear camera and microphone:', error);
          });
      }
    }

    function stopVideo() {
      if (qrScanner) {
        qrScanner.stop();
        qrScanner = null;
        code = null;
      }
      if (mediaStream) {
        mediaStream.getTracks().forEach((track) => {
          track.stop();
        });
        mediaStream = null;
      }
    }

    // Check if the user is on the QR code scanner page
    if (window.location.pathname === '/qr_code_scanner') {
      startRearCamera();
    } else {
      stopVideo();
    }
  });
</script>
