<h1>Payment Scanner</h1>

<video id="camera"></video>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let code = null;

    const qrScanner = new window.QrScanner(
      document.querySelector('#camera'),
      (result) => {
        if (code) {
          qrScanner.stop();
          return;
        }
        console.log('decoded qr code:', result);
        code = result.data;
        window.location.href = code;
      },
      {
        highlightScanRegion: true,
        highlightCodeOutline: true,
        returnDetailedScanResult: true,
      }
    );
    qrScanner.start();
  });
</script>
