<!-- app/views/landing_page/index.html.erb -->

<h1>Mejiro Gym Bali</h1>
<p>Log in as:</p>
<p>
  <%= link_to 'User', new_user_session_path, class: 'btn btn-primary btn-primary-font' %>
</p>
<p>
  <%= link_to 'Admin', new_admin_session_path, class: 'btn btn-primary btn-primary-font' %>
</p>
