<!-- app/views/admins/member_qr_code_information/show.html.erb -->
<h1>Member QR Code Information</h1>

<% if @decoded_data.present? %>
  <p>User ID: <%= @decoded_data[:user_id] %></p>
  <p>Username: <%= @decoded_data[:username] %></p>
  <p>Mejiro Coin Balance: <%= @decoded_data[:mejiro_coin_balance] %></p>
  <p>Membership Days Remaining: <%= @decoded_data[:membership_days_remaining] %></p>
<% else %>
  <p>No information available.</p>
<% end %>
