<!-- app/views/admins/member_qr_code_information/show.html.erb -->
<h1>Member QR Code Information</h1>

<% if @decoded_data.present? %>
  <p>Decoded Data: <%= @decoded_data %></p>
<% else %>
  <p>No information available.</p>
<% end %>
