/* app/assets/stylesheets/qr_code_scanner.css */

/* Apply some basic styles to the scanner container */
.viewport {
  position:relative;
  align-content: center;
  height: 100px !important;
  width: 100px !important;
  margin: 0 auto;
}

/* Style the results display area */
.results {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
