<!-- app/views/qr_code_info/show.html.erb -->

<h1>User Information from QR Code</h1>
<p>User ID: <%= @user_id %></p>
<p>Mejiro Coin Balance: <%= @mejiro_coin_balance %></p>
<!-- Display more information as needed -->
