<h1>Admin Class Schedule</h1>

<% if @admin.weekly_class_schedule.attached? %>
  <h2>Current Weekly Class Schedule</h2>
  <%= link_to 'Download Schedule', url_for(@admin.weekly_class_schedule) %>
<% else %>
  <p>No schedule uploaded.</p>
<% end %>
