<%= render "form", product: @product %>

<br>

<div class="shadow-lg bg-white p-6 rounded-lg mx-auto max-w-screen-xl px-4 py-4 sm:px-6 lg:px-8 mt-4">
<div class="text-center">
  <%= link_to admins_products_path, class: 'block bg-red-700 text-white rounded-md px-4 py-2.5 text-sm font-medium transition hover:bg-red-800' do %>
    Show and Edit Products
  <% end %>
 </div>
</div>
